body {
    background: aqua;
    font: normal 15pt Arial;

}

header {
    color: rgb(176, 126, 223);
    text-align: center;
}

section {
    background: rgb(236, 227, 227);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.452);
}
div{
    text-align: center;
    border-top: 230px;
    border-radius: 100px;
}

footer {
    color: rgb(184, 133, 231);
    text-align: center;
    font-style: italic;
}